<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

{% load static %}
<link rel="stylesheet" href="{% static 'friends/css/main.css' %}"media="screen" title="no title"  charset="utf-8">

<title></title>
</head>
<body>
   <h1>Blog</h1>
   <form action='add_post/' method='post'>
      {% csrf_token %}
      <label for='title'>Title</label>
      <input type='text' name='title' id='title'>
      <label for='post'>Post</label>
      <textarea name='post' rows='1' cols='50' id='post'></textarea><br/>
      <button type='submit' value='submit'>Make Post</button>
   </form>
   <hr/>
   {% for blog in blogs %}
      <h3>Title: {{ blog.title }}</h3>
      <p>Post: {{ blog.post }}</p>

      <h3>Comments</h3>
      <hr/>
      {% for comment in blog.comments_set.all %}
      <p>{{ comment.comment }}
      {% endfor %}
      <br/>
      <h5>Make a Comment</h5>
      <form action='add_comment/{{blog.id}}' method='post'>
         {% csrf_token %}
         <textarea name='comment' rows='5' cols='50' id='post'></textarea><br/>
         <button type='submit' value='submit'>Make Comment</button>
      </form>
      <br/>
      <hr/>
   {% endfor %}



</body>
</html>
