<!DOCTYPE html>
<html>
  <head>
    <title>Email Validation with DB</title>
    {% load staticfiles %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static 'email_validationApp/css/main.css' %}"media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <div class="wrapper">
      {% if messages %}
        <ul class="msg">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          The email address you entered (
          {{message}}) is a VALID email address! Thank you!
          </li>
          {% endfor %}
        </ul>
      {% endif %}
      <br><h3><u>Email Addresses Entered:</u></h3>
      <br><ul>
        {% for useremail in useremails %}
          <li>{{useremail.email}}   {{useremail.created_at|date:"m/d/Y h:i P"}}
              <form id="frmEmailDel" action="/delete" method="post">
                {% csrf_token %}
                <button id="btnDel" type="submit" name="btnDel" value="{{useremail.id}}">Delete</button>
              </form>
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
