<!DOCTYPE html>
<html>
  <head>
    <title>Dojo Survey Index</title>
    <!-- linking a css style sheet -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="main">
      <img src="{{ url_for('static', filename='img/donatello.jpg') }}" alt="donatello img" />
    </div>
<!-- linking a javascript file -->
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- linking an image -->
<!-- <img src="{{ url_for('static', filename='img/img.png') }}"> -->
  </body>
</html>
