<!DOCTYPE html>
<html>
  <head>
    <title>Dojo Survey Index</title>
    <!-- linking a css style sheet -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="main">
      {% for image in session["images"] %}
          <img src="{{ url_for('static', filename='img/') }}{{image}}" alt="donatello img" />
      {% endfor %}
      <!-- <img src="{{ url_for('static', filename='img/donatello.jpg') }}" alt="donatello img" />
      <img src="{{ url_for('static', filename='img/leonardo.jpg') }}" alt="leonardo img" />
      <img src="{{ url_for('static', filename='img/michelangelo.jpg') }}" alt="michelangelo img"/>
      <img src="{{ url_for('static', filename='img/raphael.jpg') }}" alt="raphael img"/> -->
    </div>
<!-- linking a javascript file -->
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- linking an image -->
<!-- <img src="{{ url_for('static', filename='img/img.png') }}"> -->
  </body>
</html>
