<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title></title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'courses/css/main.css' %}"media="screen" title="no title"  charset="utf-8">

</head>
<body>


<!-- If logged in, show the course descriptions -->
{% if request.session.logged_in %}

Email: {{ request.session.logged_in }}
<br/>
<form action='/logout'>
   {% csrf_token %}
   <button type="submit" value="submit">Logout</button>
</form>
<br/>
<hr/>
<h3>All Users (Emails)</h3>
{% for user in users %}
   {{ user.email }} |
{% endfor %}
<hr/>
<br/>
<hr/>
<h3>All Descriptions</h3>
{% for desc in descriptions %}
   {{ desc.description }} |
{% endfor %}
<hr/>
<br/>



<h3> Enter a New Course
<form action='/add_course' method='post'>
   {% csrf_token %}
   <label for='course_name'>Name:</label>
   <input type='text' name='course_name' id='course_name'>
   <br/>
   <label for='desc'>Description:</label>
   <textarea rows='5' cols='5' name='course_description' id='desc'></textarea>
   <button type='submit' value='submit'>Add Course</button>
</form>
<br/>
<hr/>
<h3> Courses </h3>

{% for course in courses %}
   Course Name: {{ course.name }}<br/>
   Course ID:   {{ course.id }}<br/>

   {% for description in course.description_set.all %}
      {{ description.description }}
   {% endfor %}
   Remove: <a href='courses/{{ course.id }}/delete/'>Delete</a>
   <hr/><br/>

{% endfor %}


<!-- Else, show the for to enter an email addess -->
{% else %}

<h3> Login with a Valid Email</h3>
<form action='/login' method='post'>
   {% csrf_token %}
   <label for='email'>Enter Email</label>
   <input type='text' name='email' id='email'>
   <br/>
   <button type='submit' value='submit'>Submit</button>
</form>
<br/>
<hr/>




{% endif %}

</body>
</html>
