<html>
<head>
  <title>Registration</title>
</head>
<body>
  <h1>Register now!</h1>
  <form action='/return' method='POST'>
    Email:<input type="text" name="email"> <br>
    First Name: <input type='text' name='firstname' id="firstname"> <br>
    Last Name: <input type='text' name='lastname' id="lastname"> <br>
    Password: <input type="password" name="password" value=""> <br>
    Confirm Password: <input type="password" name="confirm" value=""> <br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
