<html>
    <head>
       <title>Dojo Survey Index</title>
    </head>
    <body>
      <form action='/results' method='post'>
          <p>Your Name: <input type='text' name='name'></p>
          <p>Dojo Location: <select name="loc"><option value"1">1</option><option value"2">2</option><option value"3">3</option></select></p>
          <p>Favorite Language: <select name="lang"><option value"A">A</option><option value"B">B</option><option value"C">C</option></select>
          <p>Comment (Optional)</p>
          <textarea name="comment"></textarea>
          <input type='submit' value='Button'>
      </form>
    </body>
</html>
