<!DOCTYPE html>
<html>
  <head>
    <title>Dojo Survey Index</title>
    {% load staticfiles %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static 'disappearingNinjas/css/main.css' %}"media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <div class="main">
      {% for image in request.session.images %}
          <img src="{% static 'disappearingNinjas/img/'%}{{image}}" alt="ninja img" />
      {% endfor %}
    </div>
  </body>
</html>
