<!DOCTYPE html>
<html lang='en'>
<head>
   <meta charset="utf-8">
   <title></title>
</head>
<body>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
   {% endif %}
{% endwith %}
<form action='/registration' method='post'>
   <label for='first_name'>First Name</label>
   <input type='text' name='first_name' placeholder='First Name'>
   <label for='last_name'>Last Name</label>
   <input type='text' name='last_name' placeholder='Last Name'>
   <label for='email'>Email</label>
   <input type='text' name='email' placeholder='Email'>
   <label for='password'>Password</label>
   <input type='password' name='password' >
   <label for='password_confirm'>Confirm Password</label>
   <input type='password' name='password_confirm' >
   <button type='submit' value='submit'>Register</button>
</form>

</body>
</html>
