<html>
    <head>
       <title>CHANGO UNCHANG'D</title>
    </head>
    <style>
      body{
        font-family: sans-serif;
      }

      img{
        display: inline-block;
        height:200px;
        width:200px;
      }
    </style>
    <body>
      {% load staticfiles %}
      {% }
      <img src="{% static 'disappearingninjas/donatello.jpg' %}">
      <img src="{% static 'disappearingninjas/michelangelo.jpg' %}">
      <img src="{% static 'disappearingninjas/raphael.jpg' %}">
      <img src="{% static 'disappearingninjas/leonardo.jpg' %}">
      <img src="{% static 'disappearingninjas/notapril.jpg' %}">
    </body>
</html>
