* {
  font-family:"Arial";
}

#wrapper {
  border: 1px solid black;
  margin: auto;
  width: 30%;
  height:60%;
}

#information {
  margin: 30px 20px 0px 30px;
  text-align: justify;
}

select {
  text-align: right;
}

#comment {
  margin: 30px 20px 20px 30px;
}

textarea {
  width:80%;
}

button {
  display:inline-block;
  margin:0px 0px 30px 250px;
}
